@import "./functions";
@import "./mixins";

$primary: #6200ee !default;
$on-primary: on-color($primary) !default;

$secondary: #018786 !default;
$on-secondary: on-color($secondary) !default;
$background: #fff !default;

$surface: #fff !default;
$on-surface: on-color($surface) !default;

$error: #b00020;
$on-error: #fff;

$font-family: sans-serif !default;

$typography: (
  headline1: (
    font-size: 96,
    font-weight: light,
    letter-spacing: -1.5,
    font-family: $font-family,
  ),
  headline2: (
    font-size: 60,
    font-weight: light,
    letter-spacing: -0.5,
    font-family: $font-family,
  ),
  headline3: (
    font-size: 48,
    letter-spacing: 0,
    font-family: $font-family,
  ),
  headline4: (
    font-size: 34,
    letter-spacing: 0.25,
    font-family: $font-family,
  ),
  headline5: (
    font-size: 24,
    letter-spacing: 0,
    font-family: $font-family,
  ),
  headline6: (
    font-size: 20,
    letter-spacing: 0.25,
    font-family: $font-family,
  ),
  subtitle1: (
    font-size: 16,
    letter-spacing: 0.15,
    font-family: $font-family,
  ),
  subtitle2: (
    font-size: 14,
    letter-spacing: 0.1,
    font-family: $font-family,
  ),
  body1: (
    font-size: 16,
    letter-spacing: 0.5,
    font-family: $font-family,
  ),
  body2: (
    font-size: 14,
    letter-spacing: 0.25,
    font-family: $font-family,
  ),
  button: (
    font-size: 14,
    letter-spacing: 1.25,
    text-transform: uppercase,
    font-family: $font-family,
  ),
  caption: (
    font-size: 12,
    letter-spacing: 0.4,
    font-family: $font-family,
  ),
  overline: (
    font-size: 10,
    letter-spacing: 2,
    text-transform: uppercase,
    font-family: $font-family,
  ),
) !default;

$typography: map-merge($typography, ());

$breakpoints: (
  tablet: 9in,
  phone: 5in,
) !default;

$columns: (
  desktop: 12,
  tablet: 8,
  phone: 4,
) !default;

$gutters: (
  desktop: 2rem,
  tablet: 1.5rem,
  phone: 1rem,
) !default;

$border-radius: 4px !default;
